<!DOCTYPE>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>emprunts</title>
</head>
<body>
    <h1>Liste des emprunts</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Création</th>
            <th>id_utilisateurs</th>
            <th>id_livres</th>
            <th>date_emprunt</th>
            <th>date_retour</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>


