<!DOCTYPE>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>livres</title>
</head>
<body>
    <h1>Liste des livres</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Création</th>
            <th>titre</th>
            <th>auteur</th>
            <th>genre</th>
            <th>annee-publication</th>
            <th>stock_total</th>
            <th>stock_disponible</th>
          
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>


